@page "/creditos"

@using CreditosWeb.Services
@inject CreditoService CreditoService

<h1>Listado de Créditos</h1>

    <NavLink class="nav-link" href="add-credito">
        <span class="oi oi-plus" aria-hidden="true">Nuevo Crédito</span>
    </NavLink>
    @DateTime.Now
    <table class="table">
        <thead>
            <tr>
                <th>Id Crédito</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var credito in creditos)
            {
                <tr>
                <td>@credito.Id</td>    
                <td>@credito.Fecha.ToShortDateString()</td>
                <td>@credito.ValorCredito.ToString("c2")</td>
                <td>@credito.Saldo.ToString("c2")</td>
                <td>
                    <a class="nav-link" href="credito-add-abono/@credito.Id">
                        <span class="oi oi-plus" aria-hidden="true">Nuevo Abono</span>
                    </a>
                </td>
                    <td>
                    <a class="nav-link" href="credito-cuotas/@credito.Id">
                        <span class="oi oi-eye" aria-hidden="true">Ver Cuotas</span>
                    </a>
                </td>
                </tr>

            }
        </tbody>
    </table>

@code {
    private Credito[] creditos;
   
   protected override async Task OnInitializedAsync()
   {
        creditos = await CreditoService.GetCreditosAsync();
   }
}
